@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";


// my styles

a[data-fancybox] {
    &:focus {
        outline: none;
    }
    img {
        cursor: zoom-in !important;
    }
}


.product-page.fancybox-content {
    max-width: 75%;
}
