// $slick-font-path: "./fonts/" !default;
// $slick-font-family: "slick" !default;
// $slick-loader-path: "./" !default;
// $slick-arrow-color: white !default;
// $slick-dot-color: black !default;
// $slick-dot-color-active: $slick-dot-color !default;
// $slick-prev-character: "\2190" !default;
// $slick-next-character: "\2192" !default;
// $slick-dot-character: "\2022" !default;
$slick-dot-size: 20px;
// $slick-opacity-default: 0.75 !default;
// $slick-opacity-on-hover: 1 !default;
// $slick-opacity-not-active: 0.25 !default;

@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme";


// my styles

.slick-prev.slick-arrow {
    left: 5px;
}
.slick-next.slick-arrow {
    right: 5px;
}

.slick-prev.slick-arrow::before, .slick-next.slick-arrow::before {
    color: #0e0e0e;
    font-size: 40px;
}

.slick-prev.slick-arrow, .slick-next.slick-arrow {
    z-index: 10;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.slider-nav:not(.slick-initialized) {
    display: none;
}

.product-page {
    .slick-active img {
        cursor: pointer;
    }
    .slider-nav .slick-current img {
        border-bottom: 2px solid;
        padding-bottom: 2px;
    }
}
