
.font-roboto {
    font-family: 'Roboto';
}
.font-popins {
    font-family: 'Poppins';
}
.font-gilroy {
    font-family: 'Gill Sans MT';
}
.font-gill-sans-mt {
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
}
.wrapper {
    @include media-breakpoint-up(lg) {
        margin: 0 100px;
    }
}
body {
    min-width: 360px;
    display: flex;
    flex-direction: column;
    &.modal-open {
        height: 100vh;
        @include media-breakpoint-up(lg) {
            padding-right: 1.05rem;
        }
    }
}

.breadcrumb {
    border-top: 1px solid #D8D8D8;
    .breadcrumb-item a {
        color: $breadcrumb-color;
    }
}

.content {
    flex: 1 0 auto;
}
footer {
    background-color: $footer-bg;
}
// оверлей
.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 0;
    left: 0;
}
.overlay.active {
    display: block;
    opacity: 1;
}

.static-pages-menu-item {
    cursor: pointer;
    display: block;
    padding: 0.8rem 0;
    &:hover, &:focus {
        background-color: $footer-bg;
    }
    img {
        height: 28px;
        width: 28px;
    }
}

.static-page {
    // margin-bottom: 160px;
    margin-bottom: 30px;
    .title {
        font-weight: bold;
        font-size: 18px;
        border-bottom: 0.1rem dashed $body-color;
    }
    .step-num {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 38px;
        height: 38px;
    }
}

.dashboard-pages {
    @include media-breakpoint-up(lg) {
        margin-bottom: 100px;
    }
    .order-row {
        @include media-breakpoint-up(lg) {
            border: 1px solid #E8E8E8;
        }
    }
}

.catalog-page, .favorites-page {
    padding-left: 5px;
    padding-right: 5px;

    @include media-breakpoint-up(lg) {
        margin-bottom: 100px;
    }

    .product-item {
        padding-left: 5px;
        padding-right: 5px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 100px;
        }
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            max-width: 100%;
        }
        @include media-breakpoint-up(sm) {
            flex: 0 0 50%;
            max-width: 50%;
        }
        @include media-breakpoint-up(md) {
            flex: 0 0 25%;
            max-width: 25%;
        }
        @media (min-width: 1360px) {
            flex: 0 0 20%;
            max-width: 20%;
        }
        @include media-breakpoint-up(xl) {
            flex: 0 0 16.666666666666%;
            max-width: 16.666666666666%;
        }
    }
}

button.scroll-top-btn {
    position: fixed;
    padding: 0;
    bottom: 70px;
    right: 60px;
    width: 35px;
    height: 35px;
}

.check {
    display: inline-block;
    position: relative;
    margin-bottom: 0.5rem;
    cursor: pointer;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check.checked .checkmark:after,
.check input:checked ~ .checkmark:after {
    display: block;
}

.check .checkmark:after {
    left: 50%;
    margin-left: -5px;
    top: 50%;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    background: #000000;
}
.filter-block.colors .check.checked,
.product-size .check.checked {
    .checkmark {
        border: 2px solid #000000;
        &:after {
            display: none;
        }
    }
}

.filters-sidebar {
    ul {
        list-style-type: none;
    }
    .filter-block {
        .title{
            position: relative;
            display: block;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;
        }
        .list {
            ul {
                width: auto;
                max-height: 400px;
                padding-top: 15px;
                padding-left: 0;
                overflow-y: auto;
            }
            li {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: 100%;
            }
        }
        .check {
            span {
                display: inline-block;
                vertical-align: top;
                padding-left: 30px;
                line-height: 22px;
                font-size: 14px;
            }
        }
        .checkmark {
            height: 20px;
            width: 20px;
            border: 1px solid #E8E8E8;
        }
        // &.categories { }
        &.colors {
            .list li {
                width: auto;
                padding-right: 30px;
                padding-bottom: 30px;
                margin-right: 13px;
                margin-bottom: 11px;
            }
            .checkmark {
                height: 30px;
                width: 30px;
                border: none;
                border-radius: 15px;
                border: 1px solid #E8E8E8;
            }
        }
        // &.brand { }
    }
}

.product-item .image {
    .product-first-image{
        display: block;
    }
    .product-second-image{
        display: none;
    }
    .quick-link {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 70%;
        margin-left: -35%;
        margin-top: -20px;
        transition: all .3s;
        z-index: 5;
        opacity: 0;
        &:focus {
            opacity: 1;
        }
    }
    &:hover {
        .quick-link {
            opacity: 1;
        }
        .product-first-image{
            display: none;
        }
        .product-second-image{
            display: block;
        }
    }
}



.product-page {
    .product-description {
        line-height: 30px;
    }

    .price-block {
        .price {
            font-weight: 300;
            font-size: 31px;
            line-height: 30px;
            &.price-old {
                text-decoration-line: line-through;
                color: #767676;
            }
            &.price-new {
                color: #D22020;
            }
        }
    }
}
.product-characteristics {
	@media (max-width: 1024px) {
		order:-1;
	}
}


.rating-result {
    span.star {
        padding: 0;
        font-size: 26px;
        margin: 0 2px;
        color: lightgrey;
        &:before {
            content: '★';
        }
        &.active {
            color: #000;
        }
    }
}

.product-size {
    ul {
        li {
            .check {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                &.checked, &:hover {
                    .checkmark {
                        background: #000;
                        color: #fff;
                    }
                }
            }
            .checkmark {
                height: 100%;
                width: 100%;
                font-size: 12px;
                color: #3A2E2C;
                font-style: normal;
                transition: all .3s;
                border: 1px solid #767676;
            }
        }
    }
}

.tooltip-trigger {
    display: inline-block;
    background: #D22020;
    color: #ffff;
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: help;
    font-size: 12px;
}

.installment-help-block, .sale-help-trigger {
    .tooltip-trigger {
        cursor: unset;
    }
    &.btn {
        box-shadow: unset;
    }
}
.sale-help-block {
    p:last-child {
        margin-bottom: 0;
    }
}

.form-check {
    .form-check-input, .form-check-label {
        cursor: pointer;
    }
}

/* скрывающиеся подсказки в корзине*/

label.form-check-label span {
    display: none;
}

input.form-check-input:checked ~ label.form-check-label span {
    display: block;
}


span.youtube-play-icon {
    position:absolute;
    top:50%;
    left:50%;
    margin:-16px 0 0 -16px;
    height:32px;
    width:32px;
    content: url(/images/icons/youtube-play-button.svg);
}

.btn-disabled-load {
    background-color: #767676 !important;
    cursor: wait;
}

.index-links-block {
    .nav-item {
        a {
            padding: 0.5rem 1.2rem;
            @include media-breakpoint-down(sm) {
                padding: 0 0.2rem;
            }
            @include media-breakpoint-down(xs) {
                font-size: 16px;
            }
            letter-spacing: 0.3px;
        }
        @include media-breakpoint-down(xs) {
            margin: 12px 0px;
        }
        @include media-breakpoint-up(sm) {
            + .nav-item::before {
                padding-left: 6px;
                content: "/";
            }
        }
    }
}

// prices
span {
    // &.price { }
    &.new_price {
        color: #D22020;
    }
    &.old_price {
        text-decoration: line-through;
    }
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap; /* added line */
}

.btn-favorite {
    z-index: 1;
    height: 32px;
    width: 32px;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2219%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5%2018C5.56%2013.75%201%209.592%201%206.082%201%203.216%203.28%201%206.225%201c1.615%200%203.23.74%204.275%201.94C11.545%201.74%2013.16%201%2014.775%201%2017.72%201%2020%203.217%2020%206.082c0%203.51-4.56%207.668-9.5%2011.918z%22%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: background-image .3s ease 0s;
    transition: background-image .3s ease 0s;
    &.active {
        background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2219%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.5%2018C5.56%2013.75%201%209.592%201%206.082%201%203.216%203.28%201%206.225%201c1.615%200%203.23.74%204.275%201.94C11.545%201.74%2013.16%201%2014.775%201%2017.72%201%2020%203.217%2020%206.082c0%203.51-4.56%207.668-9.5%2011.918z%22%20fill%3D%22%23000000%22%20stroke%3D%22%23000000%22%20stroke-width%3D%222%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E);
    }
    &:focus {
        box-shadow: unset;
    }
}

.product-labels {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.product-label {
    color: $white;
    font-size: 14px;
    padding: 0 0.5rem;
    + .product-label {
        margin-top: 0.3rem;
    }
    &.product-label-sale {
        background: $red;
    }
    &.product-label-new {
        background: $success
    }
}

.cart-done-recommended {
    .product-item {
        max-width: 180px;
    }
}
// jdiv { display: none !important; }
