RewriteEngine on

#instagram
RewriteRule ^insta?$ https://barocco.by/catalog/?utm_source=instagram&utm_medium=social&utm_campaign=accaunt_link [NC,L,R=301]

#tiktok
RewriteRule ^tiktok?$ https://barocco.by/catalog/?utm_source=tiktok&utm_medium=social&utm_campaign=accaunt_link [NC,L,R=301]

RewriteCond %{HTTP_HOST} ^(www.)?barocco.by$

RewriteCond %{REQUEST_URI} !^/src/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /src/public/$1
RewriteCond %{HTTP_HOST} ^(www.)?barocco.by$
RewriteRule ^(/)?$ src/public/index.php [L]

php_value upload_max_filesize 256M
php_value post_max_size 256M
