RewriteEngine on 

RewriteCond %{HTTP_HOST} ^(www.)?barocco.by$

RewriteCond %{REQUEST_URI} !^/public/ 

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^(.*)$ /public/$1 
RewriteCond %{HTTP_HOST} ^(www.)?barocco.by$ 
RewriteRule ^(/)?$ public/index.php [L]