$body-bg: #FFFFFF; // основной цвет фона
$body-color: #222222; // основной цвет
$footer-bg: #F9F9F9; // цвет фона футера

// Typography
$font-family-sans-serif: 'Poppins', 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Настройки заголовков
$headings-font-family: 'Roboto', sans-serif;
$headings-font-weight: 700;

// $display1-size:               6rem !default;
// $display2-size:               5.5rem !default;
// $display3-size:               4.5rem !default;
$display4-size:	2.8rem;

// варианты размера шрифта
$v-font-sizes: '12', '15', '16', '18';

// Ссылки
$link-color: $body-color; // цвет ссылок
// $link-decoration: underline; 			// подчеркивать ссыдки
// $link-hover-color:                        darken($link-color, 15%) !default;
$link-hover-decoration: none;

$grid-breakpoints: (
	xs: 0,
	sm: 480px,
	md: 720px,
	lg: 1024px,
	xl: 1600px
);

// настройка гридов
$grid-columns:		12;
$grid-gutter-width:	20px;

$spacers: (
	main: $grid-gutter-width / 2,
	// 6: 4rem
);

// Цвета
$text-muted: #999999;

$white:		#ffffff;
$red:		#D22020;;

// цветовые темы
$theme-colors: (
	'white':			$white,
    // "red":			$red, // red == danger
);


// buttons
$btn-border-radius:    0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;