.p-product {
  width: 100%;

  &__prGroup {
    margin: 40px 0;

    &-title {
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 22px;
      font-weight: 400;
      color: #767676;
    }
    &-item {
      width: 150px;
      max-width: 150px;
      padding: 5px;
      height: auto;

      img {
        width: 100%;
      }
      &.active {
        border: 1px solid #000;
      }
    }
  }
}
// url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAxNCAzMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMDYwMyAxTDEyLjU4OTEgMTVMMS4wNjAzIDI5IiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo=)
