.p-product {
    width: 100%;

    .product-description {
        line-height: 30px;
    }

    .price-block {
        .price {
            font-weight: 300;
            font-size: 31px;
            line-height: 30px;

            &.price-old {
                text-decoration-line: line-through;
                color: #767676;
            }

            &.price-new {
                color: #D22020;
            }
        }
    }

    &.fancybox-content {
        max-width: 75%;
    }

    &__slider {
        position: relative;
        flex-direction: column;
        display: flex;
        gap: 15px;

        &-min {
            width: 100%;
            overflow: hidden;
            order: 3;
            padding: 20px 0;
            position: relative;

            .swiper {
                max-height: 100%;
                width: 100%;
                height: 100%;
            }

            .swiper-vertical .swiper-wrapper {
                position: absolute;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
                background: transparent;
                color: #000;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: 20px;
                transform: rotate(90deg);
            }

            .swiper-button-prev {
                top: 0;
            }

            .swiper-button-next {
                top: auto;
                bottom: 0;
            }

            .swiper-slide {
                width: 100px;
                height: 100px;

                img {
                    width: 100%;
                }
            }
        }

        &-main {
            order: 2;
            max-width: 100%;
            flex: 1;
            overflow: hidden;
            position: relative;

            .btn-favorite {
                z-index: 2;
            }

            .swiper-slide {
                height: auto;
            }

            iframe {
                width: 100%;
                height: 100%;
                pointer-events: none;
            }
        }

        &-youtubeIcon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            height: 32px;
            width: 32px;
            content: url(/images/icons/youtube-play-button.svg);
        }
    }

    &__prGroup {
        margin: 40px 0;

        &-title {
            font-size: 16px;
            line-height: 100%;
            margin-bottom: 22px;
            font-weight: 400;
            color: #767676;
        }

        &-item {
            width: 150px;
            max-width: 150px;
            padding: 5px;
            height: auto;

            img {
                width: 100%;
            }

            &.active {
                border: 1px solid #000;
            }
        }
    }

    &__stock {

        &-title {
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            display: flex;
            align-items: center;

            &_icon {
                display: inline-flex;
                position: relative;
                width: 12px;
                height: 12px;
                margin: 0 0 0 12px;
            }

            &.collapsed &_icon:after {
                transform: rotate(135deg) translateY(0);
            }

            &_icon:after {
                position: absolute;
                top: 0px;
                right: 0px;
                left: 0;
                display: block;
                width: 8px;
                height: 8px;
                border-right: 1px solid #000;
                border-top: 1px solid #000;
                transform: rotate(315deg) translateY(4px);
                transition: border-color 0.2s;
                content: "";
            }
        }

        &-list {
            display: flex;
            flex-direction: column;
            margin: 0 0 12px;
        }

        &-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e5e5e5;
            font-size: 14px;
            padding: 5px 0;
            line-height: 100%;
            gap: 20px;
        }

        &-name {

            &_address {
                display: inline-block;
                font-size: 12px;
                margin: 0 0 5px;
                color: #B9B9B9;
            }
        }

        &-values {
            word-spacing: 6px;
            text-align: right;
            line-height: 140%;
        }

        &-text {
            font-size: 14px;
            line-height: 140%;
            margin: 0 0 8px;

            a {
                text-decoration: underline;
                font-weight: 700;

                &[href^="tel:"] {
                    font-weight: 400;
                }
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    .p-product {

        &__slider {
            flex-direction: row;

            &-min {
                width: 100px;
                order: 1;

                .swiper-button-prev,
                .swiper-button-next {
                    display: flex;
                }
            }
        }
    }
}
