@import "~cropperjs";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.css";

// Bootstrap
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/forms";

.fancybox-content {
    max-width: 80%;
    padding: 30px;
}
.fancybox-content .btn{
    padding: 6px 25px;
}
.cropper-face {
    background-color: unset;
    background-image: url("/images/admin/maska.png");
    background-size: cover;
    opacity: 0.8;
}
.cropper-face.hide-mask {
    background-image: unset;
}
.shop-file-footer-buttons {
    text-align: center;
}
.krajee-default.file-preview-frame .shop-file-content {
    width: 185px;
    height: 130px;
}

.sortable-ghost {
    border: 1px solid rgba(50, 40, 250, 0.6) !important;
    box-shadow: 0 0 10px 0 rgba(50, 40, 250, 0.6) !important;
}
