/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/media
/public/temp
/public/xml
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/storage/media-library
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
npm-debug.log
yarn-error.log
