/node_modules
/public/hot
/public/storage
/public/temp
/public/xml
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.prod
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
