includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - phpstan-baseline.neon

parameters:
  phpVersion: 80500
  level: 6
  reportUnmatchedIgnoredErrors: false
  paths:
    - app
    - tests
  excludePaths:
    - app/Admin/
  stubFiles:
    - vendor/filament/actions/.stubs.php
    - vendor/filament/forms/.stubs.php
    - vendor/filament/infolists/.stubs.php
    - vendor/filament/notifications/.stubs.php
    - vendor/filament/schemas/.stubs.php
    - vendor/filament/tables/.stubs.php
