includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
  phpVersion: 80340
  level: 6
  reportUnmatchedIgnoredErrors: false
  paths:
    - app
    - tests
  excludePaths:
    - app/Admin/routes.php
    - app/Admin/Controllers/
