<div class="file-preview-frame krajee-default" data-id="{{ id }}">
    <div class="shop-file-content">
        <img src="{{{ src }}}"
            class="file-preview-image kv-preview-data"
            style="max-width:100%;max-height:100%;">
    </div>
    <div class="file-thumbnail-footer">
        <div class="file-footer-caption" title="{{ name }}">
            <div class="file-caption-info">{{ name }}</div>
        </div>
        <div class="file-actions">
            <div class="shop-file-footer-buttons">
                <button type="button"
                    class="kv-file-remove btn btn-sm btn-kv btn-default btn-outline-secondary">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
                <a data-fancybox="single" data-src="{{{ src }}}"
                    class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
