<html>
<head>
<title>Сообщение</title>
</head>
<body style="margin: 0px; padding: 0px; background: rgb(255, 255, 255); cursor: auto;">
<div style="display:none;font-size:1px;color:#FFFFFF;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">Здравствуйте, {{Name}}</div>
<table border="0" cellpadding="0" cellspacing="0" style="border:none; border-collapse:collapse; border-spacing:0; " width="100%">
  <tbody>
    <tr>
      <td align="center" valign="top"><table border="0" cellpadding="0" cellspacing="0" style="border:none; border-collapse:collapse; border-spacing:0;" width="600">
          <tbody>
            <tr>
              <td height="25"></td>
            </tr>
            <tr>
              <td align="center" valign="top"><!--
HEADER
-->

                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 0 auto;" width="600">
                  <tbody>
                    <tr>
                      <td align="left" style="letter-spacing: -0.1ex;" valign="middle"><!-- Phones --><a href="tel:+375291793790" style="font-family:Roboto, Verdana; font-size:12px; color:#111111 !important; text-decoration:none;">+375 (29) 179 37 90</a> <span style="font-family:Roboto, Verdana; font-size:10px; color:#111111 !important;">(РБ и другие страны)</span><br>
                        <a href="tel:88001007769" style="font-family:Roboto, Verdana; font-size:12px; color:#111111 !important; text-decoration:none;">8 (800) 100 77 69</a> <span style="font-family:Roboto, Verdana; font-size:10px; color:#111111 !important;">(бесплатно для РФ)</span> <!-- Phones --></td>
                      <td align="center" valign="middle" width="25"><a href="https://wa.me/375447286606" style="border: none; text-decoration: none;" target="_blank" title="WhatsApp"><img alt="WhatsApp" src="https://barocco.by/images/icons/whats-app-str-color.svg" width="20"></a></td>
                      <td align="center" valign="middle" width="10"></td>
                      <td align="center" valign="middle" width="25"><a href="viber://add?number=375447286606" style="border: none; text-decoration: none;" target="_blank" title="Viber"><img alt="Viber" src="https://barocco.by/images/icons/viber-str-color.svg" width="20"></a></td>
                      <td align="center" valign="middle" width="10"></td>
                      <td align="center" valign="middle" width="25"><a href="https://t.me/barocco_by" style="border: none; text-decoration: none;" target="_blank" title="Telegram"><img alt="Telegram" src="https://barocco.by/images/icons/telegram-str-color.svg" width="20"></a></td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 0 auto;" width="600">
                  <tbody>
                    <tr>
                      <td colspan="13" height="7"></td>
                    </tr>
                    <tr>
                      <td width="30"></td>
                      <td width="170"></td>
                      <td width="15"></td>
                      <td align="center" valign="top"><a href="https://barocco.by/" style="border: none; text-decoration: none;" target="_blank" title="Модны Бай"><img alt="barocco.by" src="https://barocco.by/images/icons/barocco.svg" width="300"></a></td>
                      <td width="15"></td>
                      <td width="170"></td>
                      <td width="30"></td>
                    </tr>
                    <tr>
                      <td colspan="13" height="7"></td>
                    </tr>
                    <tr>
                      <td width="30"></td>
                      <td align="center" valign="middle" width="170"><a href="https://barocco.by/catalog" style="font-family:Roboto, Verdana; font-size:14px; color:#111111 !important; text-decoration:none; font-weight: bold;">КАТАЛОГ</a></td>
                      <td width="15"></td>
                      <td align="center" valign="middle" width="170"><a href="https://barocco.by/online-shopping/installments" style="font-family:Roboto, Verdana; font-size:14px; color:#111111 !important; text-decoration:none; font-weight: bold;">РАССРОЧКА</a></td>
                      <td width="15"></td>
                      <td align="center" valign="middle" width="170"><a href="https://barocco.by/feedbacks" style="font-family:Roboto, Verdana; font-size:14px; color:#111111 !important; text-decoration:none; font-weight: bold;">ОТЗЫВЫ</a></td>
                      <td width="30"></td>
                    </tr>
                  </tbody>
                </table>

                <!--
CONTENT
--><!--Приветствие-->
                <table border="0" cellpadding="0" cellspacing="0" style="border:none; border-collapse:collapse; border-spacing:0;" width="600">
                  <tbody>
                    <tr>
                      <td colspan="3" height="20"></td>
                    </tr>
                    <tr>
                      <td width="45"></td>
                      <td align="center" style="font-family:Roboto, Verdana; font-size:18px; color:#070707; font-weight:bold;" valign="middle">Здравствуйте, {{Name}}!</td>
                      <td width="45"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="20"></td>
                    </tr>
                    <tr>
                      <td width="45"></td>
                      <td align="center" style="font-family:Roboto, Verdana; font-size:16px; color:#111111;" valign="middle">{{MESSAGE_TEXT}}</td>
                      <td width="45"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="30"></td>
                    </tr>
                  </tbody>
                </table>

                <!--FOOTER-->
                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 0 auto;" width="600">
                  <tbody>
                    <tr>
                      <td height="20"></td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 0 auto;" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" width="30"></td>
                      <td align="center" valign="middle" width="180"><a href="https://barocco.by/online-shopping/instruction" style="font-family:Roboto, Verdana; font-size:14px; color:#111111 !important; text-decoration:none; font-weight: bold;">КАК ЗАКАЗАТЬ</a></td>
                      <td align="center" valign="middle" width="180"><a href="https://barocco.by/online-shopping/delivery" style="font-family:Roboto, Verdana; font-size:14px; color:#111111 !important; text-decoration:none; font-weight: bold;">ДОСТАВКА И ОПЛАТА</a></td>
                      <td align="center" valign="middle" width="180"><a href="https://barocco.by/online-shopping/return" style="font-family:Roboto, Verdana; font-size:14px; color:#111111 !important; text-decoration:none; font-weight: bold;">ВОЗВРАТ</a></td>
                      <td align="center" valign="middle" width="30"></td>
                    </tr>
                    <tr>
                      <td colspan="5" height="20" style="border-bottom: 1px solid #CCCCCC;"></td>
                    </tr>
                    <tr>
                      <td colspan="5" height="30"></td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 0 auto;" width="600">
                  <tbody>
                    <tr>
                      <td align="center" valign="middle" width="255"></td>
                      <td align="right" style="font-family:Roboto, Verdana; font-size:14px; color:#070707 !important; font-weight: bold;" valign="middle" width="50">Подпишитесь</td>
                      <td align="center" valign="middle" width="10"></td>
                      <td align="center" valign="middle" width="30"><a href="https://www.instagram.com/barocco.by/" style="border: none; text-decoration: none;" target="_blank" title="Instagram"><img alt="Instagram" src="https://barocco.by/images/icons/instagram.png"></a></td>
                      <td align="center" valign="middle" width="255"></td>
                    </tr>
                    <tr>
                      <td colspan="5" height="10"></td>
                    </tr>
                  </tbody>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto 0 auto;" width="600">
                  <tbody>
                    <tr>
                      <td height="30"></td>
                    </tr>
                    <tr>
                      <td align="center" style="font-family:Roboto, Verdana; font-size:12px; color:#686464 !important; font-weight: bold;" valign="middle">barocco.by, 2015-2021</td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="center" style="font-family:Roboto, Verdana; font-size:12px; color:#686464 !important; font-weight: normal;" valign="middle">РЕСПУБЛИКА БЕЛАРУСЬ, 224030, г. Брест, ул. Советская, 72</td>
                    </tr>
                    <tr>
                      <td height="30"></td>
                    </tr>
                    <tr>
                      <td align="center" style="font-family:Roboto, Verdana; font-size:12px; color:#686464 !important; font-weight: normal;" valign="middle">Вы получили это письмо, так как подписаны на рассылку интернет-магазина barocco.by</td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="center" style="font-family:Roboto, Verdana; font-size:12px; color:#686464 !important; font-weight: normal;" valign="middle">Чтобы письмо не попало в спам добавьте <a href="mailto:info@barocco.by" style="font-family:Roboto, Verdana; font-size:12px; color:#686464 !important;">info@barocco.by</a> в адресную книгу.</td>
                    </tr>

<!--                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td align="center" style="font-family:Roboto, Verdana; font-size:12px; color:#686464 !important; font-weight: normal;" valign="middle">Чтобы отписаться от рассылки, перейдите по <a href="javascript:;" style="font-family:Roboto, Verdana; font-size:12px; color:#686464 !important;" target="_self">ссылке</a></td>
                    </tr>
-->
                  </tbody>
                </table></td>
            </tr>
            <tr>
              <td height="25"></td>
            </tr>
          </tbody>
        </table></td>
    </tr>
  </tbody>
</table>
</body>
</html>
